<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All documnets</title>
  </head>
  <body>
    <%- include("navbar") %>
    <div>
      <form id="fileForm" method="post">
        <select name="fileName" id="fileSelect">
          <option value="" selected>Choose a document</option>
          <% for(file of allFiles) {%>
          <option value="<%=file%>"><%=file%></option>
          <% } %>
        </select>
        <button>Extract</button>
      </form>
    </div>
    <script src="/utils/extractFormSubmit.js"></script>
  </body>
</html>
