<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All documnets</title>
  </head>
  <body>
    <%- include("navbar") %>
    <div>
      <select name="" id="">
        <option value="" selected>Choose a document</option>
        <% for(file of allFiles) {%>
        <option value=""><%=file%></option>
        <% } %>
      </select>
    </div>
  </body>
</html>
