<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OCR portal</title>
    <link rel="stylesheet" href="/styles/navbar.css" />
  </head>
  <body>
    <nav class="navbar">
      <span><a href="/"> Home</a></span>
      <span><a href="/saveForm"> Upload document </a></span>
      <span><a href="/extractData"> Extract data </a></span>
      <span><a href="/detailForm"> Fill form </a></span>
    </nav>
  </body>
</html>
