<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles/saveForm.css" />
  </head>
  <body>
    <%- include("navbar") %>
    <div class="form">
      <form action="/saveForm" method="post" enctype="multipart/form-data">
        <input type="file" name="document" />
        <button>Upload</button>
      </form>
    </div>
    <%- include("footer") %>
  </body>
</html>
