.detailForm {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(220, 243, 252);
  min-height: 330px;
  margin-top: 2rem;
}
.detailForm form div {
  margin: 1rem;
}
