.error div,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 129, 129);
  flex-direction: column;
  padding: 2rem;
}
.error {
  background-color: red;
  min-height: 250px;
  margin-top: 2rem;
}
