button {
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem;
  background-color: green;
  color: white;
}
.btn {
  margin: 1rem;
}
body {
  font-family: "Noto Sans Devanagari", "Arial Unicode MS", sans-serif;
}
